{% extends "layout.html" %}
{% block title %}Create User{% endblock %}

{% block content %}
<form method="post" action="create_user">

<div class="form-group">
    <label for="first">Name</label>
    <input type="text" class="form-control" id="first" name="first" placeholder="Enter Firstname">
  </div>
  <div class="form-group">
    <label for="last">Name</label>
    <input type="text" class="form-control" id="last" name="last" placeholder="Enter Lastname">
  </div>
  <div class="form-group">
    <label for="email">Name</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
  </div>

    <input type="submit" value="Submit" class="btn btn-primary">

</form>
<p>&nbsp;</p>

<a class="btn btn-primary" href ="{{ url_for('list')}}">List Users</a>

{% endblock %}