{% extends "layout.html" %}
{% block title %}List Users{% endblock %}
{% block content %}

    <a  class="btn btn-primary" href="{{ url_for('create_user') }}">Create User</a>

    <table class="table table-bordered table-sm">
        <thead class="table table-light"><tr>
            <th>Id</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr></thead>

        {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.first }}</td>
                <td>{{ u.last }}</td>
                <td>{{ u.email }}</td>
                <td><a  class="btn btn-primary" href="{{ url_for('update_user', user_id=u.id) }}">Update</a></a></td>
                <td><a  class="btn btn-danger" href="{{ url_for('delete_user', user_id=u.id) }}">Delete</a></a></td>
            </tr>
        {% endfor %}
        
    </table>

{% endblock %}