{% extends "layout.html" %}
{% block title %}Update User: {{u.first}}{% endblock %}
{% block content %}

<form method="post" action="update_user">
<div class="form-group">
    <label for="first">Firstname</label>
    <input type="text" value="{{ u.first }}" class="form-control" id="first" name="first" placeholder="Enter Firstname">
  </div>
  <div class="form-group">
    <label for="last">Lastname</label>
    <input type="text" value="{{ u.last }}" class="form-control" id="last" name="last" placeholder="Enter Lastname">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" value="{{ u.email }}" class="form-control" id="email" name="email" placeholder="Enter Email">
  </div>
<!--
    First Name: <input type="text" name="first" value="{{ u.first }}"/></intput><br>
    Last Name: <input type="text" name="last" value="{{ u.last }}"/></intput><br>
    Email: <input type="text" name="email" value="{{ u.email }}"></intput><br>
-->
    <input type="hidden" name="user_id" value="{{u.id}}">
    <input type="submit" value="Update" class="btn btn-success">
</form>
<p>&nbsp;</p>
<a class="btn btn-primary" href ="{{ url_for('list')}}">List Users</a>
{% endblock %}